.team-ap, .team-bf, .team-bp, .team-evk, 
.team-fcc, .team-ft, .team-gh, .team-ib, .team-jc, 
.team-lk, .team-lws, .team-mf, .team-nm, .team-nn, 
.team-rb, .team-sf, .team-sp{
	background-image: url('team.jpg');
	background-repeat: no-repeat;
}

.team-ap {
	width: 240px;
	height: 240px;
	background-position: -0px -0px;
}

.team-bf {
	width: 240px;
	height: 240px;
	background-position: -240px -0px;
}

.team-bp {
	width: 240px;
	height: 240px;
	background-position: -480px -0px;
}

.team-evk {
	width: 240px;
	height: 240px;
	background-position: -720px -0px;
}

.team-fcc {
	width: 240px;
	height: 240px;
	background-position: -960px -0px;
}

.team-ft {
	width: 240px;
	height: 240px;
	background-position: -0px -240px;
}

.team-gh {
	width: 240px;
	height: 240px;
	background-position: -0px -480px;
}

.team-ib {
	width: 240px;
	height: 240px;
	background-position: -0px -720px;
}

.team-jc {
	width: 240px;
	height: 240px;
	background-position: -0px -960px;
}

.team-lk {
	width: 240px;
	height: 240px;
	background-position: -240px -240px;
}

.team-lws {
	width: 240px;
	height: 240px;
	background-position: -480px -240px;
}

.team-mf {
	width: 240px;
	height: 240px;
	background-position: -720px -240px;
}

.team-nm {
	width: 240px;
	height: 240px;
	background-position: -960px -240px;
}

.team-nn {
	width: 240px;
	height: 240px;
	background-position: -240px -480px;
}

.team-rb {
	width: 240px;
	height: 240px;
	background-position: -240px -720px;
}

.team-sf {
	width: 240px;
	height: 240px;
	background-position: -240px -960px;
}

.team-sp {
	width: 240px;
	height: 240px;
	background-position: -480px -480px;
}
